@font-face {
    font-family:FiraGO-Regular;
    src: url(../fonts/FiraGO-Regular.ttf);
}
body{
    background: #FDFDFD;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    width:718px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 10px;

    padding-top: 40px;
    padding-right: 51px;
    padding-bottom: 63px;
    padding-left: 51px;
}
h1{
    font-family: FiraGO-Regular;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    color: #000000;
    margin-top: 0;
    margin-bottom: 26px;
}
.input_item label{
    display: block;
    font-family: FiraGO-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 5px;
}
.input_item input{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;

    width: 100%;
    box-sizing: border-box;
    height: 12px;

    padding-top: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
    padding-left: 18px;
}
.input_1{
    margin-bottom: 18px;
}
.input_2{
    margin-bottom: 18px
}
.test_block{
    margin-bottom: 28px;
}
.lost_password{
    font-family: FiraGO-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #0653AD;
}
.card_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_details span {
    font-family: FiraGO-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
.footer_details a{
    font-family: FiraGO-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color:#0653AD;
}

.btn{
    width: 205px;
    height: 47px;
    background: #FFDD04;
    border-radius: 10px;
    border: 1px solid transparent;

    font-family: FiraGO-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}